body {
  background-color: #ffffff;
}

a {
  text-decoration: none;
}

.biglogo {
  position: absolute;
  bottom: 90px;
  left: 70px;
}

.logo {
  margin-right: 10px;
}

.navbar {
  height: 75px;
  margin-top: 2rem;
  margin-left: 2rem;
  margin-right: 2rem;
  border-radius: 20px;
}

.soc-icon-discord {
  width: 70px;
  height: 70px;
}
.soc-icon-instagram {
  width: 70px;
  height: 70px;
}
.soc-icon-opensea {
  width: 70px;
  height: 70px;
}

#banner {
  background-image: url(img/bg/bg-main-cover.jpg);
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
}

.transition1 {
  padding-top: 300px;
  z-index: 2;
}

#main {
  background-color: #273036;
}

#about {
  padding-top: 7rem;
  padding-bottom: 7rem;
}

#roadmapsec {
  background-color: white;
}

#rarity {
  padding-top: 7rem;
}

@media only screen and (max-width: 1980px) {
  .roadmap {
    width: 800px;
  }

  .sample {
    width: 300px;
  }
}

@media only screen and (max-width: 1280px) {
  .roadmap {
    width: 600px;
  }

  .sample {
    width: 300px;
  }
}

@media only screen and (max-width: 900px) {
  .roadmap {
    width: 500px;
  }

  .sample {
    width: 250px;
  }

  .collapse {
    border-radius: 0px 0px 20px 20px;
  }
}

@media only screen and (max-width: 600px) {
  .roadmap {
    width: 400px;
  }

  .sample {
    width: 175px;
  }
}

@media only screen and (max-width: 400px) {
  .roadmap {
    width: 350px;
  }

  .sample {
    width: 175px;
  }
}

.rarity {
  background-color: #273036;
}

.prarity {
  width: 50rem;
}

.social {
  text-decoration: none;
  list-style: none;
}
